//Светлая тема
$Light_ColorBackground: #f5f7fb;
$Sidebar: #ffffff;
// текст
$Light_TextColor: #111827;
$TextColorSecondary: #6b7280;
$TextPlaceholder: #9ca3af;
//Акцентный цвет
$PrimaryBlue: #605cb9;
$HoverBlue: #3541e714;
$LightBlue: #eef2ff;
//Бордеры и линии
$Border: #e5e7eb;
// $Divider: #eceff4;
$Divider: #dadada;

//Кнопки
$PrimaryButton: #655ee9;
$PrimaryButtonHover: #554acc;
$PrimaryButtonDelete: #df8c8c;
$PrimaryButtonAdd: #b8dfae;
$PrimaryButtonAddHover: #a7ca9e;
$SecondaryButton: #ffffff;
$SecondaryBorder: #d1d5db;

//ТЕМНАЯ ТЕМА
$Dark_ColorBackground: #0b1120;
$Dark_Sidebar: #171c2a;

//Акцентный цвет
$Dark_PrimaryBlue: #4f46e5;
$Dark_HoverBlue: #6365f15d;
$Dark_LightBlue: #818cf8;

// текст
$Dark_TextColor: #e7e7e7;
$Dark_TextColorSecondary: #94a3b8;
$Dark_TextPlaceholder: #64748b;

//Бордеры и линии
$Dark_Border: #1f2937;

$Dark_Divider: #5b5b6d;
