@media print {
	.print-wrapper,
	.a4-page,
	.a4-page_Vip {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	.a4-page {
		width: 210mm;
		padding: 0;
		margin: 0 auto;
		page-break-after: always;
		break-after: page;
		box-sizing: border-box;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 3mm;
	}
	.a4-page:last-child,
	.a4-page_Vip:last-child {
		page-break-after: auto;
		break-after: auto;
	}
	.a4-page_Vip {
		width: 210mm;
		padding: 0;
		margin: 0 auto;
		page-break-after: always;
		break-after: page;
		box-sizing: border-box;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 3mm;
	}
}
.a4-page {
	width: 210mm;
	padding: 0;
	margin: 0 auto;
	page-break-after: always;
	break-after: page;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 3mm;
}
.a4-page_Vip {
	width: 210mm;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 3mm;
	margin-bottom: 10px;
}
.a4-page_Vip--vertical .layoutCardPassVip__Print { flex-direction: column; row-gap: 3mm; column-gap: 0; }
.a4-page_Vip--duplex .layoutCardPassVip__Print { display: block; }
.a4-page_Vip--duplex.duplex-front .layoutCardPassVip__Print--Back { display: none; }
.a4-page_Vip--duplex.duplex-back .layoutCardPassVip__Print--Front { display: none; }
