@use '@/style/setting/color' as CL;

.custom-select {
	width: 100%;
	min-width: 0;

	&__control {
		min-height: CL.$ControlHeight !important;
		height: CL.$ControlHeight;
		border-radius: CL.$RadiusControl 0 0 CL.$RadiusControl !important;
		box-shadow: none !important;
		&--menu-is-open {
			border-color: CL.$HoverBlue !important;
			max-height: 400px;
			overflow-y: scroll;
			.custom-select__indicator {
				svg {
					transform: rotate(180deg);
				}
			}
		}
		&--is-focused {
			border-color: CL.$HoverBlue !important;
		}
	}
	&__value-container {
		height: 100%;
		padding: 0 10px !important;
		cursor: pointer !important;
	}
	&__input-container {
		margin: 0 !important;
		padding: 0 !important;
		border: transparent !important;
	}
	&__indicators { height: 100%; }
	&__indicator {
		cursor: pointer !important;
		svg {
			transition: color .3s ease, background-color .3s ease, border-color .3s ease, box-shadow .3s ease, transform .3s ease !important;
		}
	}
	&__menu {
		border-radius: CL.$RadiusControl !important;
		animation: isOpenMenu 0.35s ease-in-out;
		z-index: 10 !important;
	}
	&__option {
		cursor: pointer !important;
	}
}

body:not(.Dark) .custom-select {
	&__control {
		background: CL.$Sidebar !important;
		border: 1px solid CL.$Divider !important;
	}
	&__option {
		&--is-focused {
			background-color: CL.$HoverBlue !important;
			color: CL.$PrimaryBlue !important;
		}
		&--is-selected {
			background: CL.$HoverBlue !important;
		}
	}
}

body.Dark .custom-select {
	&__control {
		background: CL.$Dark_Sidebar !important;
		border: 1px solid CL.$Dark_Divider !important;
		&--is-focused {
			border-color: CL.$Dark_HoverBlue !important;
		}
	}
	&__option {
		color: CL.$Dark_TextColorSecondary;
		&--is-focused {
			background-color: CL.$Dark_HoverBlue !important;
			color: CL.$Dark_LightBlue !important;
		}
		&--is-selected {
			background: CL.$Dark_HoverBlue !important;
			color: CL.$Dark_PrimaryBlue !important;
		}
	}
	&__single-value {
		color: #fff !important;
	}
	&__menu {
		background-color: CL.$Dark_Sidebar !important;
	}
	&__input {
		color: CL.$Dark_TextColor !important;
	}
}

@keyframes isOpenMenu {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
